/*
color pallete:

*/
:root{ 
    --yellow:#FFB81D;
    --gray:#404348;
    --brown:#C89C76;
    --white:#EFECEC;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;  
}

.header{
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: auto 1fr auto;

}
.logo-container{
    display: flex;
}
.nav-ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-left:20px;
}
.nav-ul a{
    text-decoration: none;
    color:var(--gray);
    font-size: 18px;
}
#input-background{
    background-color: whitesmoke;
    height:32px;
    width:200px;
    border-radius: 20px;
    margin-top:14px;
    margin-right: 10px;
    
}
.search-container input{
      height:32px;
      width:200px;
      margin-right: 20px;
      border-radius: 20px;
      border:solid 1px var(--gray);
      background:url(images/search.png);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 10px 5px;
      

}

.intro{
    background-image: url("images/intro-image.webp");
    height: 650px;

}
.categories{
    display: flex;

}
.category-item{
    width:200px;
    
}
.category-image{
    width: 100%;
    height: 145px;
}


.description{
    display: flex;
}


